# remove the section if you are only recording the screen without streaming
[srt]
uri = "srt://live-push.bilivideo.com:1937"
# Bilibili Web interface provides this as "?streamname=...".
# "?streamname" is FFmpeg specific and we don't support it.
streamid = "#!::h=live-push.bilivideo.com,r=live-bvc/?streamname=live_xxxxxxxx_yyyyyyyy,key=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz,schedule=srtts,pflag=1"

# uncomment the section to record the stream into a mpegts file
#[file]
# %t will be replaced to the UNIX time stamp.
#path = '%t.ts'

# remove the section if you don't need to stream audio
[pulse]
device = 'alsa_output.pci-0000_00_1f.3.analog-stereo.monitor'

[video]
# these parameters for output video stream are mandated
width = 1920
height = 1080
framerate = 60

# this is the default, set it true to include mouse cursor in the video
# stream
#cursor = false

# select "X264" (default), "OpenH264", or "VaH264" here
#encoder = "X264"

# this is the default
#kbit_rate = 2000

[audio]
#sample_rate = 48000   # Hz, this is the default
#channel = 2           # this is the default

# the default is evaulated by fdk-aac, which can be too large
bit_rate = 131072
